
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body{
    font-size: 24px;
    background-image: url(../img/фон1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    }
.pp{
    font-family:'Cormorant Infant', serif; ;
}

.wrapper{
    width: 1300px;
    margin: 0 auto;
}
.header{
    font-family: "Roboto", без засечек;
    семейство шрифтов: "Рубик Моно Один", без засечек;
    font-size: 23px;
    text-align: center;
    margin-top: 40px;
}
.logo{
    width: 50%;
}
.nav-link{
   
    text-decoration: none;
    margin-left: 29px;
    color: #3b3b3b;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.wrapper{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    font-family: 'Cormorant Infant', serif;
}
}
.header-content{
    display: flex;
    width: 100%;
    justify-content: space-between;   
    margin-bottom: 100px;
}
}
.link-logo:hover{
    
}
}
.nav-link{
    font-family: 'Cormorant Infant', serif;
    font-weight: 500;
    color:black;
    text-decoration: none;
}
.h1{
    
   margin: 62px; 
   padding: 22px;
}
.h1:hover{
    color: palevioletred;
}
.img-flower{
    justify-content: center;
    text-align: center;
    display: flex;
}

.img-flowers{
    font-size: 0;
    width: 1000px;
}
/* секция о нас  */
.about{
    background-color: #ddbec3;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.h2-title{
    margin-top: 20px;
    font-family: 'Cormorant Infant', serif;
    text-align: center;
    font-size: 29px;
    color:#505050;
}

    
}
.flex-about{
    font-family: 'Cormorant Infant', serif;
  display: flex;
  justify-content: center;
}
.text-about-right{
    font-family: 'Cormorant Infant', serif;
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
    line-height: 45px;
    
}
.about-img{
    width: 550px;
}

.catalog{
    max-width: 1920px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.flex-catalog{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.catalog-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.catalog-item{
    margin-bottom: 30px;
}
.img-catalog-item{
    width: 350px;
    height: 280px;
    border-radius: 10px;
}
.img-catalog-item:hover{
    transform: scale(1.2);
    transition-duration: 1s;
    cursor: crosshair;
}
.description{
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    font-family: 'Cormorant Infant', serif;
}
.catalog-btn{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 5px 0;
    border: 1px #ddbec3 solid;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
.catalog-btn:hover{
    cursor: pointer;
    color:white;
    transition-duration: 1s;
    background-color: palevioletred;
}

.our{
    width: 350px;
    height: 280px;
    border-radius: 10px;
}
.img-fon{
    width: 450px;
    height: 350px;
}

.first{
    display: flex;
    
    
}



.catalog1{
    max-width: 1920px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.flex-catalog1{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.catalog-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.catalog-item1{
    margin-bottom: 30px;
}
.img-catalog-item1{
    width: 350px;
    height: 250px;
    border-radius: 0px;
}
.img-catalog-item1:hover{
    transform: scale(1.2);
    transition-duration: 1s;
    cursor: crosshair;
}
.description{
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    font-family: 'Cormorant Infant', serif;
}
.catalog-btn{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 5px 0;
    border: 1px #ddbec3 solid;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
.catalog-btn:hover{
    cursor: pointer;
    color:white;
    transition-duration: 1s;
    background-color: palevioletred;
}



/* доставка  */
.delivery{
    align-items: center;
    background-color: #ddbec3;
    display: flex;
    justify-content: center;
    margin: 40px auto;
    text-align: center;
}

.flex-delivery{
     
     
    float: left;
    width: 845px;
  
    height: 80px;
    overflow-x: scroll;
    overflow-y: none;
    /*resize: none;*/
}
.round{
    border-radius: 5px; 
}
.delivery-item{
    margin: 10px;
}
.text-delivery{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
.icon-delivery{
    width: 90px;
    text-align: center;
}
.price{
    font-weight: 400;
    opacity: .8;
    font-size: 18px;
    padding: 10px;
    letter-spacing: 1px;
    border-radius: 30px;
}

.testimonials{
    max-width: 1920px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.flex-testimonials{
    display: flex;
    border-radius: 40px;
   
}
.img-c{
   width: 200px;
   height: 200px;
    border-radius: 50%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    margin: 100 auto;
    display: flex;
   
    text-align: center;
    margin-bottom: 100px;
}
}

    
.name{
    font-size: 40px;
    margin: 100px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
}

.contact{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    display: block;
    background-color: #ddbec3;
}
.flex-contact{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
}
.adress-text-left{
    margin-top: 80px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.map-right{
    margin-bottom: 30px;
}
/* footer  */

.footer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 70px;
    background-color: #cc9da5;
}
.flex-footer{
   
    justify-content: space-between;
    text-align: center;
}
.copyright{
    text-align: center;
}


.link-socials{
   
    text-align: justify;
}
.adress-text, .copyright{
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    font-size: 20px;
}
.adaptivny-slayder {
    position: relative;
    max-width: 680px;
    margin: 50px auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
  }
  
  .adaptivny-slayder input[name="kadoves"] {
    display: none;
  }
  
  .kadoves {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
  }
  
  .kadoves label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 5px solid #2f363c;
    background-color: #738290;
  }
  
  #slaid1:checked~.kadoves label[for="slaid1"] {
    background-color: white;
  }
  
  #slaid2:checked~.kadoves label[for="slaid2"] {
    background-color: white;
  }
  
  #slaid3:checked~.kadoves label[for="slaid3"] {
    background-color: white;
  }
  
  .adaptivny-slayder-lasekun {
    overflow: hidden;
     
  }
  
  .abusteku-deagulus {
    display: flex;
    width: 100%;
    transition: all 0.5s;
  }
  
  .abusteku-deagulus img {
    width: 100%;
    flex-shrink:0;
  }
  
  #slaid1:checked~adaptivny-slayder-lasekun abusteku-deagulus {
    transform: translate(0);
  }
  
  #slaid2:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(-100%);
  }
  
  #slaid3:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(-200%);
  }
  .nav-link:hover{
      color:palevioletred ;
  }
  H1 {
    display: inline-block;
    font-family: 'Cormorant Infant', serif;
    transition: all 1s;
  }
  H1 {
      font-size: 45px;
    color: hotpink;
  }
  
  H1:hover {
      font-size: 50px;
    color: darkviolet
    
  }
  .nav{
      font-family: 'Cormorant Infant', serif;
  }